<h1>New Animal</h1>

<%= render 'form' %>
<!-- Back to create a new animal -->
<%= link_to 'Back', animals_path %>
<!-- You can make a sighting for the new animal -->
<%= link_to 'New Sighting', new_sighting_path %>
